<link rel="stylesheet" href="/static/style.css" type="text/css">

{% block body %}

	<form action="/adduser" method="POST">
		<div class="login">
			<div class="login-screen">
				<div class="app-title">
					<h1>Add User</h1>
				</div>
				
				<div class="login-form">
					<div class="control-group">
						<input type="text" class="login-field" value="" placeholder="username" name="new_username">
						<label class="login-field-icon fui-user" for="new_username"></label>
					</div>
					
					<div class="control-group">
						<input type="password" class="login-field" value="" placeholder="password" name="new_password">
						<label class="login-field-icon fui-lock" for="new_password"></label>
					</div>
					
					<div class="control-group">
						<input type="email" class="login-field" value="" placeholder="email" name="new_email">
						<label class="login-field-icon fui-mail" for="new_email"></label>
					</div>
					
					<input type="submit" value="Add User" class="btn btn-primary btn-large btn-block">

				</div>
				
				<div>
					<a href="/admindashboard" class = "btn">Return to admin dashboard</a>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
